@media screen and (max-width: 750px) {
    
    .collapseBack{
      background-color: #adc85b;
    }
    .dashBack{
      background:linear-gradient(rgba(255, 255, 255, 0.5)) ;
    }
  }

.nav_position{
  z-index: 1;
  background: white;
}